@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}
/* .select-search-container{
width: 100% !important;
}
.select-search-input{
  padding: 0 16px !important;
  border-radius: 5px !important;
  color: gray !important;
  box-shadow: 5px !important;
  font-size: 16px !important;
} */